@page
@model DrivingLog.Models.Login.LoginModel
@{
}

<div>
    <form>
        <input asp-for="@Model.LoginUsername" type="text"/>
        <input asp-for="@Model.LoginPassword" type="password"/>
        <input type="submit"/>
    </form>
</div>