@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to your driving log</h1>
    <p>Click below to see your driving log</p>
    <a asp-controller="LogEntry" asp-action="LogEntry">Driving Log</a>
</div>
