.settingsTitle {
  text-align: center; }

.settingsForm {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .settingsForm > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; }
    .settingsForm > div > * {
      padding-left: 10px;
      padding-right: 10px; }
