html body {
  width: 100vw;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif; }
  html body main {
    width: 90%;
    margin: 0px auto; }
  html body table {
    width: 100%;
    background-color: #cfffdb;
    padding: 10%;
    font-family: 'Poppins', sans-serif; }
  html body div.filterRow {
    display: grid;
    grid-template-columns: 50% 30% 20%; }
  html body a#addButtonForm {
    margin-right: 1em; }
  html body p {
    font-family: 'Poppins', sans-serif; }
  html body h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold; }
  html body button {
    border: none;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px; }
    html body button.editButton {
      background-color: yellow; }
    html body button.deleteButton {
      background-color: lightcoral; }
    html body button.addButton {
      background-color: lightgreen;
      height: 90%;
      width: auto;
      justify-content: flex-end; }
  html body form.actionForm {
    display: flex;
    flex-direction: column; }
    html body form.actionForm div {
      display: grid;
      grid-template-columns: 50% 50%; }
      html body form.actionForm div label {
        text-align: center;
        font-weight: bold; }
      html body form.actionForm div input {
        width: 40%; }
      html body form.actionForm div input[type="submit"] {
        justify-self: right;
        width: 20%;
        margin-right: 0.5em; }
      html body form.actionForm div.actionFormContainer {
        background-color: lightblue;
        -webkit-box-shadow: 0px 10px black; }
  html body form label.questionLabel {
    width: 40%;
    text-align: right; }
  html body form input.questionInput {
    width: 60%; }
