
$phoneWidth: 750px;
$computerMinWidth: 751px;

@mixin phone {
    @media (max-width: $phoneWidth){
        @content;
    }
}

@mixin computer {
    @media(min-width: $computerMinWidth){
        @content;
    }
}

html {
    body {
        width: 100vw;
        margin: 0px auto;
        font-family: 'Poppins', sans-serif;

        main {
            width: 90%;
            margin: 0px auto;
        }

        #tableContainer{
            @include phone {
                overflow-x: auto;
            }
            

            table {
                width: 100%;
                background-color: #cfffdb;
                padding: 10%;
                font-family: 'Poppins', sans-serif;
    
                @include computer {
    
                }
    
                @include phone {
                    overflow-x: auto;

                    #addButtonForm {
                        display: none!important;
                    }
                }
            }
        }       

        div {
            &.filterRow {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 75% 25%;
                
                #filterHeader {
                    margin-bottom: 0.2em;
                    font-weight: bold;
                    grid-column: 1 / -1;
                }

                #addButtonAboveTable{
                    @include computer{
                        display: none;
                    }

                    @include phone {
                        align-items: center;
                        display: flex;
                        background-color: lightgreen;
                        height: 90%;
                        width: 2.5em;
                        justify-content: center;
                        border-radius: 5px;
                        margin: 0px auto;

                        button {
                            display: flex;
                            align-items:center;
                            text-align: center;
                        }
                    }
                }

                form {

                    display: grid;

                    @include computer {
                        grid-template-columns: 25% 10% 65%;
                    }

                    @include phone {
                        grid-template-columns: 75% 25% ;

                        & input[type="submit"]{
                            justify-self: left;
                        }
                    }
                }  
            }
        }

        a {
            &#addButtonForm {
                margin-right: 1em;
            }
        }

        p {
            font-family: 'Poppins', sans-serif;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        button {
            border: none;
            border-radius: 10%;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 7px;

            &.editButton {
                background-color: yellow;
            }

            &.deleteButton {
                background-color: lightcoral;
            }

            &.addButton {
                background-color: lightgreen;
                height: 90%;
                width: auto;
                justify-content: flex-end;
            }
        }

        & form {
            &.actionForm {
                display: flex;
                flex-direction: column;
                $formPadding: 0.5em;
                
                & input[type="submit"] {
                    display: flex;
                    align-items: center;
                }

                @include computer {
                    & div {
                        display: grid;
                        grid-template-columns: 50% 50%;
    
                        & label {
                            text-align: right;
                            font-weight: bold;
                            margin-right: $formPadding;
                        }
    
                        & input {
                            width: 40%;
                        }
    
                        & input[type="submit"] {
                            justify-self: right;
                            margin-right: $formPadding;
                            width: 20%;
                        }
    
                        &.actionFormContainer {
                            background-color: lightblue;
                            -webkit-box-shadow: 0px 10px black
                        }
    
                        & a {
                            width: 20%;
                            margin: auto 0 auto $formPadding;
                        }
                    }
                }
                

                @include phone {
                    & div {
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: 50% 50%;
    
                        & label {
                            justify-self: center;
                            font-weight: bold;
                        }
    
                        & input {
                            justify-self: center;
                            width: 80%;
                        }

                        & a {
                            text-align: center;
                        }

                        & input[type="submit"] {
                            width: 30%;
                            padding: 0.2em;
                            justify-content: center;
                            align-self: center;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }
        }
    }
}
